@model WebApplication1.Models.Istifadeciler
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="display:flex; justify-content:center;">
    
    <div class="col-md-4">
        <h4>Add Your Information</h4>
        <br />
        <form action="AddUser" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" name="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" name="Surname" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label"></label>
                <input type="file" class="form-control" name="Sekil" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uni" class="control-label"></label>
                <input asp-for="Uni" class="form-control" name="Uni" />
                <span asp-validation-for="Uni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" name="About" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; justify-content:center;">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div style="display:flex; justify-content:center;">
    <a asp-action="Index">Back to List</a>
</div>



