@model WebApplication1.Models.RegisteredUser
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/login css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>

	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form action="/Home/Register" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="UserName" placeholder="User name" required="">
				<input asp-for="Email" type="email" name="Email" placeholder="Email" required="">
				<span asp-validation-for="Email" class="text-danger"></span>
				<input type="password" name="Password" placeholder="Password" required="">
				<button>Sign up</button>
				<div style="display:flex; align-items:center; justify-content:center; color:white; text-shadow: 0 0 4px grey;">
					@TempData["message"]
				</div>
			</form>
		</div>

		<div class="login">
			<form action="/Home/Login" method="post">
				<label for="chk" aria-hidden="true">Login</label>
				<input type="email" name="Email" placeholder="Email" required="">
				<input type="password" name="Password" placeholder="Password" required="">
				<button>Login</button>
			</form>
		</div>
	</div>
</body>
</html>
